/*** GENERAL ***/
:root {
  --bs-primary: rgb(217, 0, 255);
  --bs-secondary: #0f0f0f;
  --bs-primary-rgb: 217, 0, 255;
  --bs-secondary-rgb: 15, 15, 15;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #ffffff;
  color: var(--bs-secondary);
}

.vc-container {
  width: 95vw !important;
}

.border-bottom {
  border-bottom: 2px solid var(--bs-primary) !important;
}

.border-top {
  border-top: 1px solid var(--bs-primary) !important;
}

.border-top-dark {
  border-top: 1px solid #c0c1c2 !important;
}

.btn-primary {
  background-color: var(--bs-primary);
  border: none;
}

.btn-primary:hover {
  background-color: var(--bs-secondary);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border: none;
}

.btn-secondary:hover {
  background-color: var(--bs-primary);
  color: var(--bs-secondary) !important;
  border: var(--bs-secondary) 1px solid;
}

.btn-outline-primary {
  color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.btn-outline-primary:hover {
  background-color: #fff;
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.05rem rgba(217, 0, 255, 0.5);
}

.active {
  color: var(--bs-primary) !important;
}

.card-header {
  background-color: var(--bs-primary);
  border-radius: 0 0 !important;
}

/*** PAGINATION ***/
.page-link {
  position: relative;
  display: block;
  color: var(--bs-primary);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  z-index: 2;
  color: var(--bs-primary);
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  color: var(--bs-primary);
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(217, 0, 255, 0.5);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

/*** NAVBAR ***/
.navbar-icons {
  height: 1.2rem;
  width: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--bs-secondary);
}

.nav-link:hover {
  color: var(--bs-primary) !important;
}

/*** SHOWCASE ***/
.showcase-container {
  height: 93vh;
  background-image: url('../../img/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-content-container {
  margin-bottom: 20vh;
}

.content-container {
  margin: 2.8rem 0 0;
}

/*** CAROUSEL ***/
.swiper-pagination-bullet-active {
  background-color: var(--bs-primary);
}

.fa,
.fas {
  font-weight: 100;
}

.fa-star {
  color: var(--bs-gray-500);
}

.checked {
  color: var(--bs-primary);
}

.rating {
  font-size: 12px;
}

/*** CONTENT IMAGE WITH TEXT ***/
.content-image {
  max-height: 700px;
}

/*** PRODUCTS ***/
.product-thumbnail-container {
  height: 110px;
}

.thumbnail {
  margin-top: 10px;
  margin-right: 10px;
  max-height: 100px;
  cursor: pointer;
}

.product-form {
  max-width: 90%;
  margin: auto;
}

.product-form-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.product-size-container {
  margin-top: 1rem;
}

.product-option {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: .5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 2.8rem;
}

.product-option:hover {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary);
}

.product-option-active {
  background-color: var(--bs-primary) !important;
  color: #fff !important;
}

.product-option-disabled {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: .5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 2.8rem;
}

#description {
  display: none;
}

#shipping {
  display: none;
}

/*** Footer ***/
.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.15rem rgba(217, 0, 255, 0.35);
}

@media (max-width: 768) {
  .margin-top {
    margin-top: 20px;
  }
}