/*** GENERAL ***/
:root {
  --bs-primary: #d900ff;
  --bs-secondary: #0f0f0f;
  --bs-primary-rgb: 217, 0, 255;
  --bs-secondary-rgb: 15, 15, 15;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #ffffff;
  color: var(--bs-secondary);
}

.vc-container {
  width: 95vw !important;
}

.border-bottom {
  border-bottom: 2px solid var(--bs-primary) !important;
}

/*** NAVBAR ***/
.navbar-icons {
  height: 1.2rem;
  width: auto;
}

/*** SHOWCASE ***/
.showcase-container {
  height: 93vh;
  background-image: url('../../img/showcase.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase-content-container {
  margin-bottom: 20vh;
}

.showcase-content-container>.btn-primary {
  background-color: var(--bs-primary);
  border: none;
}

.showcase-content-container>.btn-primary:hover {
  background-color: var(--bs-secondary);
}

.content-container {
  margin: 2.8rem 0 0;
}

/*** CAROUSEL ***/
.swiper-pagination-bullet-active {
  background-color: var(--bs-primary)
}

.fa,
.fas {
  font-weight: 100;
}

.fa-star {
  color: var(--bs-gray-500);
}

.checked {
  color: var(--bs-primary)
}

.rating {
  font-size: 12px;
}