/*** GENERAL ***/
:root {
  --bs-primary: #d900ff;
  --bs-secondary: #0f0f0f;
  --bs-primary-rgb: 217, 0, 255;
  --bs-secondary-rgb: 15, 15, 15;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'DM Sans', sans-serif;
  background-color: #ffffff;
  color: var(--bs-secondary);
}

.vc-container {
  width: 95vw !important;
}

.border-bottom {
  border-bottom: 2px solid var(--bs-primary) !important;
}

/* .text_primary {
  color: var(--bs-primary) !important;
} */

/*** NAVBAR ***/
.navbar-icons {
  height: 1.2rem;
  width: auto;
}